<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AttachmentsMapper">

    <resultMap type="Attachments" id="AttachmentsResult">
        <result property="id"    column="id"    />
        <result property="newsId"    column="news_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
    </resultMap>

    <sql id="selectAttachmentsVo">
        select id, news_id, file_name, file_path, file_type, file_size from attachments
    </sql>

    <select id="selectAttachmentsList" parameterType="Attachments" resultMap="AttachmentsResult">
        <include refid="selectAttachmentsVo"/>
        <where>
            <if test="newsId != null "> and news_id = #{newsId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
        </where>
    </select>

    <select id="selectAttachmentsById" parameterType="Long" resultMap="AttachmentsResult">
        <include refid="selectAttachmentsVo"/>
        where id = #{id}
    </select>

    <insert id="insertAttachments" parameterType="Attachments" useGeneratedKeys="true" keyProperty="id">
        insert into attachments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newsId != null">news_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="fileSize != null">file_size,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newsId != null">#{newsId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
        </trim>
    </insert>

    <update id="updateAttachments" parameterType="Attachments">
        update attachments
        <trim prefix="SET" suffixOverrides=",">
            <if test="newsId != null">news_id = #{newsId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAttachmentsById" parameterType="Long">
        delete from attachments where news_id = #{id}
    </delete>

    <delete id="deleteAttachmentsByIds" parameterType="String">
        delete from attachments where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>